.container {
  width: 100%;
  height: 100vh;
  background-color: #121212;
}
.chat-container {
  width: 70%;
  height: 100%;
  /* padding: 10px; */
  /* background-color: red; */
  margin: 0 auto;
  background-color: #242323;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
}
.Message-text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  /* background-color: blue; */
}
.Message {
  overflow: auto;
  width: 100%;
  height: 75vh;
}
.input-ka-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #181717;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
.button-style {
  background: #fff;
  padding: 5px;
  height: 26px;
  /* margin-top: 5px; */
  display: flex;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}
.sqdOP {
  border: 0;
  color: #3897f0;
  background-color: #fff;
  outline: none;

  /* color: rgba(var(--h5f, 56, 151, 240), 1); */
  display: inline;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.msg-check {
  margin-left: 10px;
  line-height: 30px;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  .success-mobile {
    height: 60vh !important;
    padding: 20px;
    text-align: center;
    font-size: 13px;
  }
  .chat-container {
    width: 100%;
  }
  .chat-container header {
    font-size: 14px;
    line-height: 30px;
  }
}
