.container {
  width: 100%;
  height: 100vh;
  background-color: #121212;
}
.chat-container {
  width: 70%;
  height: 100%;
  /* padding: 10px; */
  /* background-color: red; */
  margin: 0 auto;
  background-color: #242323;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
}
.Message-text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  /* background-color: blue; */
}
.Message {
  overflow: auto;
  width: 100%;
  height: 75vh;
}
.SelfClass {
  align-items: end;
  background-color: red;

  flex-direction: row-reverse;
}
.AnotherClass {
  flex-direction: row;
}
.message_box_container {
  display: flex;
}

.home_message {
  display: flex;

  margin: 0;
  padding: 10px;
  border: 0 solid #000;
}
.child_home {
  max-width: 236px;
  min-height: 44px;

  border-radius: 22px;
}
.self {
  align-items: flex-end;
  justify-content: flex-end;
}
.parent {
  align-items: flex-start;
  justify-content: flex-start;

  color: #fff;
}

.selfCont {
  background-color: #3897f0;
  color: #fff;
}

.parentCont {
  background-color: rgb(24, 24, 24);
  color: #fff;
}

.imageSelf {
  display: flex;
  justify-content: flex-end;
}

.imageParent {
  display: flex;
  flex-direction: column;
}
.input-ka-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #181717;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
.button-style {
  background: #fff;
  padding: 5px;
  height: 26px;
  /* margin-top: 5px; */
  display: flex;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}
.sqdOP {
  border: 0;
  color: #3897f0;
  background-color: #fff;
  outline: none;

  /* color: rgba(var(--h5f, 56, 151, 240), 1); */
  display: inline;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.msg-check {
  margin-left: 10px;
  line-height: 30px;
}
.img-container-real {
  width: 336px;
  height: 336px;
  border-radius: 7.5px;
  background-color: #dcf8c6;
  padding: 3px;
  box-sizing: border-box;
  max-width: 336px;
  position: relative;
  z-index: 1;
  margin: 10px;
}
.inside {
  width: 330px;
  height: 330px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #242323;
  position: relative;
  max-width: 100%;
  border-radius: 6px;
  cursor: pointer;
}
._1i3Za {
  bottom: 0;
  height: 28px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

._1uFFm {
  position: absolute;
  bottom: 6px;
  z-index: 2;
}
._1uFFm {
  right: 8px;
}

._1DZAH {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  white-space: nowrap;
}
._3EFt_ {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.jdhpF {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
}

/* Media Query */
@media only screen and (max-width: 768px) {
  .success-mobile {
    height: 60vh !important;
    padding: 20px;
    text-align: center;
    font-size: 13px;
  }
  .chat-container {
    width: 100%;
  }
  .chat-container header {
    font-size: 14px;
    line-height: 30px;
  }
  .img-container-real {
    width: 300px;
  }
}
