.list_style {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #121212;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul li {
  cursor: pointer;
}

.container_for_me {
  padding: 10px;
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
  isolation: isolate;
}

.btn_accept {
  background-color: #1db954;
  color: #fff;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 17px 35px;
  margin: 20px 0 70px;
  cursor: pointer;
  text-decoration: none;
  border: 0px;
}
