@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

:root {
  --color-primary: #061e23;
  --color-secondary: #004552;
  --color-accent: #00b2d2;
  --color-white: #f4f4f9;
  --color-light: #187a8c;
  --color-gray: #f1f1f2a1;
  --other-color: #172729;
  --color-href: #73eaff;
  --color-accent-dark: #00313a;
}

@media (prefers-color-scheme: light) {
  body {
    --color-primary: #d3ebef;
    --color-secondary: #91d6e3;
    --color-accent: #00b2d2;
    --color-white: #061e23;
    --color-light: #187a8c;
    --color-gray: #555;
    --other-color: #f4f4f9;
    --color-href: #067285;
    background-color: var(--color-primary) !important;
  }

  .bg-primary {
    background-color: var(--color-primary) !important;
  }
  .bg-secondary {
    background-color: var(--color-secondary) !important;
  }

  .text-white {
    color: var(--color-white) !important;
  }
  .text-light {
    color: #061e23 !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color-primary: #061e23;
    --color-secondary: #004552;
    --color-accent: #00b2d2;
    --color-white: #f4f4f9;
    --color-light: #187a8c;
    --color-gray: #f1f1f2a1;
    --other-color: #172729;
    --color-href: #73eaff;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  outline: none;
}
code {
  font-family: source-code-pro, 'Fira Code', Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

code {
  background: var(--color-primary);
  padding: 3px 4px;
  border-radius: 4px;
}

p > a {
  color: var(--color-href);
}
p > a:hover {
  text-decoration: underline;
}

.otherStyle > a {
  color: var(--color-accent);
}
.otherStyle > a:hover {
  text-decoration: underline;
}

.bg-color {
  height: auto;
  background-image: url(../../layout_pattern.png),
    linear-gradient(
      226deg,
      var(--color-secondary) 48%,
      var(--color-primary) 100%
    );
}
.width-login {
  width: calc(100vw - 385px);
}
.ptr--icon {
  color: var(--color-gray) !important;
}
.ptr--text {
  color: var(--color-gray) !important;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes stroke {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
