.header {
  position: relative;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #fff;
  z-index: 1;
  /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1) */
}

body {
  background-color: #fff;
}

.color-diff {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #4285f4;
}

.color-difference {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #3f3d56;
  margin-left: 1px;
}

.share-button {
  line-height: 50px;
}

section {
  padding-top: 50px;
  display: flex;
  height: calc(100vh - 50px);
  color: #000;
  justify-content: space-around;
  align-items: center;
}

.img-svg-real {
  height: 60vmin;
}

.text-showcase-real {
  color: #3f3d56;
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.text-showcase-real h1 {
  font-size: 40px;
  font-weight: bold;
}

.text-showcase-real p {
  font-size: 1.5rem;
}

article {
  padding: 60px;
  /* background-color: red; */
}

button{
   -webkit-tap-highlight-color: transparent;
}

.about {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #4285f4;
  font-size: 20px;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.about-section {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:1em;
  justify-items: center;  
  overflow-x:auto;
  margin: 20px;
}

.about-section div {
  text-align: center;
  width: 280px;
}

.about-section div p {
  padding: 20px;
}

footer {
  text-align: center;
  padding-bottom: 3px;
}

.container_for_div {
  display: flex;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  /* opacity: .75; */
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.Create_user {
  height: 70vmin;
  width: 120vmin;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  display: flex;

  background-color: #ffff;
}

.aboutsection_of_me {
  /* width: 50%; */
  background-color: #4285f4;
  flex: 2;
  border-radius: 10px 0px 0px 10px;
  padding: 15px;
  color: #fff;
}

.login_section {
  /* width: 50%; */
  flex: 1;
  padding: 10px;
  color: #3f3d56;
}

ul li {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
}

.homeScreenPrompt {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.dailog {
  flex-shrink: 1;
  margin: 20px;
  max-height: calc(100% - 40px);
  overflow: hidden;
  border-radius: 12px;
  background: #fff;
  width: 260px;
}
.insiseDialog {
  display: flex;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.imageDIv {
  margin: 16px;
}
.imageCOntainEE {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
imageCOntainEE img {
  border-radius: 50%;
}

.PromptText {
  margin: 16px 32px;
  text-align: center;
}
.x-6xq {
  font-size: 22px;
  line-height: 26px;
  margin: -4px 0 -5px;
}
.KV-D4 {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
.uL8Hv {
  display: block;
  margin-bottom: 10px;
}
._08v79 > :nth-child(n + 2) {
  padding-top: 16px;
}
._0PwGv {
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
}
.xLCgt {
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
}
.mt3GC {
  margin-top: 16px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bIiDR {
  color: #0095f6;
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-weight: 700;
}
.aOOlW {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.aOOlW:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.aOOlW {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

@media only screen and (max-width: 769px) {
  .color-diff {
    font-size: 24px;
  }
  .color-difference {
    font-size: 24px;
  }
  .MuiButton-containedPrimary {
    font-size: 10px !important;
  }
  section {
    flex-wrap: wrap;
  }
  article {
    padding: 0px;
  }
  .about-section {
    flex-wrap: wrap;
  }
  .text-showcase-real h1 {
    font-size: 25px;
  }
  .text-showcase-real p {
    font-size: 17px;
  }
  .Create_user {
    flex-wrap: wrap;
  }
  .aboutsection_of_me {
    display: none;
  }
  .login_section {
    height: 100vh;
    background: #fff;
  }
  .login_section ul {
    list-style-type: disc;
  }
  .container_for_div {
    position: static;
    align-items: flex-start;
  }
  .list_style {
    text-align: center;
  }
}


.back-drop{
  background: #ebebeb;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
}

@media(max-width:720px){
  .back-drop{
    margin-bottom: 15px;
  }
}